.landing-container {
  background-color: #003f8c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-section {
  text-align: center;
  color: white;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button.login-btn {
  background-color: white;
  color: #2a5b8c; /* azul oscuro */
}

button.register-btn {
  background-color: rgba(42, 91, 140, 0.7); /* azul opaco */
  color: white;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

