<div class="auth-container">
  <div class="logo-area">
    <img src="/assets/images/logo/door-icon-2.png" alt="Logo" />
    <p class="auth-link-text">
      ¿No tienes una cuenta?
      <span class="auth-link" (click)="goToRegister()">Regístrate</span>
    </p>
    <button class="auth-button" (click)="onSubmit()">LOGIN</button>
  </div>

  <form [formGroup]="loginForm" class="form-area">
    <label>Email</label>
    <input formControlName="email" type="email" />
    <label>Password</label>
    <input formControlName="password" type="password" />
  </form>
</div>
